@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');
*
{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
/* this is for making css grid layout */
.grid-container
{
    display: grid;
    grid-template-areas: 
    "Header Header Header"
    "gird-row-1 gird-row-1 gird-row-1"
    "gird-row-2 gird-row-2 gird-row-2"
    "gird-row-3 gird-row-3 gird-row-3"
    "gird-row-4 gird-row-4 gird-row-4"
    "gird-row-5 gird-row-5 gird-row-5"
    "footer footer footer";
    grid-template-columns: auto auto auto;
    gap: 10px;
}
 /* this is code for grid element  */
.header
{
    grid-area: Header;
    background: url("photos/room3.jpg") no-repeat;
    height: 100vh;
    background-size: 100% 100%;
    background-position: center;
    background-attachment: fixed;
}
.content{
    max-width: 1250px;
    margin: auto;
    padding: 0 30px;
  }
  .navbar{
    position: fixed;
    width: 100%;
    z-index: 2;
    padding: 25px 0;
    transition: all 0.3s ease;
  }
  .navbar.sticky{
    background: rgb(196, 196, 196);
    padding: 10px 0;
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
  }
  .navbar .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .navbar .logo a{
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
  }
  .navbar .logo:hover >a
  {
    color: crimson;
    cursor: pointer;
  }
  .navbar .menu-list{
    display: inline-flex;
  }
  .menu-list li{
    list-style: none;
  }
  .menu-list li a{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    text-decoration: none;
    transition: all 0.3s ease;
  }
  .menu-list li a:hover{
    color: crimson;
  }
  .icon{
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    display: none;
  }
  .menu-list .cancel-btn{
    position: absolute;
    right: 30px;
    top: 20px;
  }
  @media (max-width: 1230px) {
    .content{
      padding: 0 60px;
    }
  }
  @media (max-width: 1100px) {
    .content{
      padding: 0 40px;
    }
  }
  @media (max-width: 900px) {
    .content{
      padding: 0 30px;
    }
  }
  @media (max-width: 868px) {
    body.disabled{
      overflow: hidden;
    }
    .icon{
      display: block;
    }
    .icon.hide{
      display: none;
    }
    .navbar .menu-list{
      position: fixed;
      height: 100vh;
      width: 100%;
      max-width: 400px;
      left: -100%;
      top: 0px;
      display: block;
      padding: 40px 0;
      text-align: center;
      background: #222;
      transition: all 0.3s ease;
    }
    .navbar.show .menu-list{
      left: 0%;
    }
    .navbar .menu-list li{
      margin-top: 45px;
    }
    .navbar .menu-list li a{
      font-size: 23px;
      margin-left: -100%;
      transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    .navbar.show .menu-list li a{
      margin-left: 0px;
    }
  }
  @media (max-width: 380px) {
    .navbar .logo a{
      font-size: 27px;
    }
  }
/* This is for sign-in button */
.sign-in
{
    float: right;
    font-size: 15px;
    background-color: transparent;
    text-transform: uppercase;
    border: 2px solid #fff;
    padding: 4px 28px;
    font-size: 16px;
    cursor: pointer;
    color: #fff;
}
.sign-in:hover
{
    color: crimson;
    background: rgb(255, 255, 255);
}
.sign-in:active
{
    transform: translateY(3px);
}


/* this is for login */
.container{
  position: absolute;
  max-width: 430px;
  width: 100%;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  display: none;
  margin: 0 20px;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.container .forms{
  display: flex;
  align-items: center;
  height: 500px;
  width: 200%;
  transition: height 0.2s ease;
}

.container .form1{
  width: 50%;
  padding: 30px;
  background-color: #fff;
  transition: margin-left 0.18s ease;
}
.container.active .login{
  margin-left: -50%;
  opacity: 0;
  transition: margin-left 0.18s ease, opacity 0.15s ease;
}

.container .signup{
  opacity: 0;
  transition: opacity 0.09s ease;
}
.container.active .signup{
  opacity: 1;
  transition: opacity 0.2s ease;
}
.container.active .forms{
  height: 750px;
}
.container .form1 .title{
  position: relative;
  font-size: 27px;
  font-weight: 600;
}

.form1 .title::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  background-color: #4070f4;
  border-radius: 25px;
}
.cancel-login-signup
{
  font-size: 30px;
  font-weight: bold;
  position: absolute;
    right: 30px;
    top: 20px;
}
div.cancel-login-signup:hover,
div.cancel-login-signup:focus
{
  color: crimson;
  cursor: pointer;
}
.form1 .input-field{
  position: relative;
  height: 50px;
  width: 100%;
  margin-top: 30px;
}

.input-field input{
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 0 35px;
  border: none;
  outline: none;
  font-size: 16px;
  border-bottom: 2px solid #ccc;
  border-top: 2px solid transparent;
  transition: all 0.2s ease;
}
 .input-field input:is(:focus, :valid){
  border-bottom-color: #4070f4;
}

.input-field i{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
  font-size: 23px;
  transition: all 0.2s ease;
}

.input-field input:is(:focus, :valid) ~ i{
  color: #4070f4;
}

.input-field .icon1{
  left: 0;
}
.input-field #toogle-password{
  position: absolute;
  right: 0;
  top: 50%;
  left: 90%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  padding: 10px;
}

.form1 .checkbox-text{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.checkbox-text .checkbox-content{
  display: flex;
  align-items: center;
}

.checkbox-content input{
  margin: 0 8px -2px 4px;
  accent-color: #4070f4;
}

.form1 .text{
  color: #333;
  font-size: 14px;
}

.form1 a.text{
  color: #4070f4;
  text-decoration: none;
}
.form1 a:hover{
  text-decoration: underline;
}

.form1 .button{
  margin-top: 35px;
}

.form1 .button input{
  border: none;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 6px;
  background-color: #4070f4;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button input:hover{
  background-color: #265df2;
}

.form1 .login-signup{
  margin-top: 30px;
  text-align: center;
}
 .error{
  color: crimson;
}
/* This is for explore more button */
.explore-row
{
    grid-area: grid-row-1;
    background-color: rgba(196, 196, 196, 1);
    display: flex;
}
.explore-row > div {
    color: #000;
    width: 25%;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}
.explore-row > h2
{
    font-size: 30px;
    text-transform: uppercase;
    float: left;
    width: 16%;
}
div.flex_grow
{
    width: 33.33%;
}
.flex_grow input[type="text"],
.flex_grow input[type="date"]
{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 10px;
    display: inline-block;
    border: 1px solid #ccc;
} 
.flex_grow input[type="submit"]
{
    background-color: rgba(121, 8,8,0.85);
    font-size: 25px;
    border: none;
    border-radius: 5px;
    padding: 10px 16px;
    color: white;
    transition-duration: 1s;
    position: relative;
    top: 40%;
}
.flex_grow input[type="button"]:hover
{
    background-color: rgb(223, 223, 223);
    color: #000;
}
.flex_grow input[type="button"]:active
{
    transform: translateY(9px);
}
/*This is for clickable Reserve Now button*/
.container1 input[type=text],
select#vacant,
.dest
{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
}
button 
{
    background-color: rgba(121, 8,8,0.85);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
.btn_reserve
{
    background-color: rgba(121, 8,8,0.85);
}
button:hover
{
    opacity: 0.8;
}
.cancelbtn
{
    width: auto;
    padding: 10px 18px;
    background-color: crimson;
}
.img_container1
{
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}
.person
{
    margin: auto;
    font-size: 100px;
}
.close
{
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}
.close:hover,
.close:focus
{
    color: red;
    cursor: pointer;
}
.container1
{
    padding: 16px;
}
.form
{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding-top: 16px;
    background-color: rgba(0,0,0,0.4);
}
.form_content
{
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    width: 80%;
}
.animate
{
    animation: animatezoom 0.6s;
}
@keyframes animatezoom
{
    from
    {
        transform: scale(0);
    }
    to 
    {
        transform: scale(1);
    }
}
@media screen and (max-width: 300px)
{
    .cancelbtn
    {
        width: 100%;
    }
}
/* This is making explore more button responsive */

@media only screen and (max-width: 800px) {
    /* for explore more  */
    .explore-row > div, .explore-row > h2{
        width: 100%;
    }
    .flex_grow input[type="button"]{
        display: block;
        width: 100%;
    }
    .explore-row
    {
        display: block;
        width: 100%;
	margin-bottom: 40px;
	text-align: center;
    }
}
.gird-row-2
{
    grid-area: grid-row-2;
    margin: 5px 0;
    background-color: rgba(196, 196, 196, 1);
    display: flex;
    flex-direction: row;   
}
/*this is for two image with text*/      
div.gallery
{
    margin: 5px;
    border: 1px solid #ccc;
    width: 50%;
}
div.gallery:hover
{
    border: 1px solid #777;
}
  
  div.gallery img 
{
    width: 100%;
    height: auto;
} 
.img_text
{
    padding: 15px;
    text-align: center;
    color: #000;
}
@media screen and (max-width:850px){
    div.gird-row-2{
        flex-direction: column;
    }
    div.gallery{
        width: 100%;
        height: auto;
        display: block;
    }
}
/* this is for amenties */
.content2 {
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  
}

.content2 > div {
  background-color: transparent;
  width: 100%;
  margin: 30px;
  text-align: center;
  line-height: 50px;
  font-size: 30px;
}
.box-flex > span
{
  font-size: 20px;
  display: block;
}
.text > h2
{
  font-weight: 400px;
  text-align: center;
  text-transform: uppercase;
}
.text p
{
  font-size: 20px;
}
@media screen and (max-width:850px){
  .content2 > div
  {
    flex: 100%;
  }
}

 /* This is for near available rooms */
.gird-row-3
{
    grid-area: grid-row-3;
    background-color: rgb(0, 0, 0, 0.44);
    padding: 16px;
    text-align: center;
    text-transform: uppercase;
}
.explore_center button
{
    border: none;
    font-size: 20px;
    background-color: rgba(121, 8,8,0.85);
    color: white;
    padding: 14px 16px;
    transition-duration: 1s;
    border-radius: 5px;
    text-transform: uppercase;
}
.explore_center button:hover
{
    background-color: rgb(223, 223, 223);
    color: #000;
    cursor: pointer;
}



/* This is for Three image */
.gird-row-4
{
    grid-area: grid-row-4;
    background-color: rgb(196,196, 196, 1);
    padding: 16px;
    margin: 5px 0;   
}
.image_group
{
    float: left;
    width: 33.3%;
    padding: 0 8px;
}
.image_card
{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.image_card:hover
{
    border: 1px solid white;
}
.image_container
{
    padding: 0 16px;
}

.image_container::after, .image_info::after
{
    content: "";
    clear: both;
    display: table;
}
.img_title
{
    color:grey;
}
.img_button
{
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color:  rgba(121, 8,8,0.85);
    text-align: center;
    cursor: pointer;
    transition-duration: 1s;
    width: 100%;
}
.img_button a{
    color: white;
    text-decoration:none;
}
.img_button:hover{
    background-color: rgb(223, 223, 223);
    color: #000;
}
@media screen and (max-width:900px){
    .image_group{
        width: 100%;
        display: block;
        margin: 5px 0;
    }
}

.gird-row-5
{
    grid-area: grid-row-5;
    background-color: rgb(196, 196, 196, 1);
    padding: 16px;
    text-align: center;
}
/*This is for featured Destinations*/
.Featured_dest
{
    border: 3px solid grey;
    padding: 5px;
}
.feature
{
    float: right;
} 
.Featured_dest::after 
{
    content: "";
    clear: both;
    display: table;
}
@media screen and (max-width:850px)
{
    .feature{
        width: 100%;
        height: auto;
    }
}

